/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:1400px) {

    .hero-title {
        font-size: 78px;
    }

}

@media(max-width:1400px) {
    .logo-box {
        width: 180px;
        height: 110px;

        left: -8px;
        top: -8px;
    }

    .logo-box img {
        width: 90px;
    }


}

@media(max-width:1200px) {
    .blog-title {
        font-size: 48px;
    }

    .blog-card-title {
        font-size: 26px;
    }

    .client-title {
        font-size: 46px;
    }

    .testimonial-title {
        font-size: 48px;
    }

    .main-title {
        font-size: 48px;
    }

    .gallery-card img {
        height: 420px;
    }

    .counter-number {
        font-size: 72px;
    }

    .section-header h2 {
        font-size: 48px;
    }

    .bg-text {
        font-size: 140px;
    }

    .about-image {
        height: 650px;
    }

    .x-about-title {
        font-size: 52px;
    }

    .x-feature-box h5 {
        font-size: 16px;
    }

}




@media(max-width:991px) {


    .menusFooter {
        margin-top: 1.3em;
    }

    .latest-blog-section {
        padding: 90px 0;
    }

    .blog-title {
        font-size: 40px;
    }

    .blog-description {
        margin-top: 25px;
    }

    .creative-video-section {
        min-height: 700px;

        background-attachment: scroll;
    }

    .creative-title {
        font-size: 52px;
    }

    .client-logo-section {
        padding: 35px 0;
    }

    .client-title {
        font-size: 40px;
    }

    .client-logo-item {
        height: 950px;
    }

    .testimonials-section {
        padding: 90px 0;
    }

    .testimonial-title {
        font-size: 42px;

        margin-bottom: 50px;
    }

    .prodcts_wrapper {
        padding: 80px 0;
    }

    .buttons_procuts {
        justify-content: flex-start;

        margin-top: 25px;
    }

    .main-title {
        font-size: 42px;
    }

    .why-choose-section {
        padding: 80px 0;
    }

    .main-title {
        font-size: 46px;
    }

    .top-desc {
        font-size: 18px;
    }

    .consult-btn {
        margin-top: 30px;
    }

    .center-circle {
        width: 430px;
        height: 200px;
        margin: 50px auto;
    }

    ..inner-circle img {
        width: 100% !important;
    }

    /* .inner-circle{
                width:360px;
                height:360px;
            }*/
    .inner-circle {
        height: 232px;
    }

    .feature-box {
        margin-bottom: 40px;
    }

    .feature-content h3 {
        font-size: 28px;
    }

    .counter-section {
        padding: 80px 0;
    }

    .counter-box {
        text-align: center;
    }

    .counter-top {
        justify-content: center;
    }

    .counter-number {
        justify-content: center;

        font-size: 64px;
    }

    .about-image {
        height: 560px;
    }

    .x-about-content {
        padding-left: 0;
        margin-top: 15px;
    }

    .x-about-title {
        font-size: 46px;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;

        display: none;

        background: rgba(255, 255, 255, 0.05);

        margin-top: 10px;
    }

    .getButon {
        display: none;
    }

    .navbar-expand-lg .navbar-nav {
        gap: 6px !important;
    }

    .main-header {

        /*    background: #00000082;*/
        padding: 0px !important;
    }

    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-collapse {
        background: #111;
        padding: 30px;
        margin-top: 20px;
        border-radius: 20px;
    }

    .navbar-nav {
        gap: 15px;
    }

    .hero-slider {
        height: 90vh;
    }

    .hero-title {
        font-size: 60px;
    }

}

@media(max-width:768px) {
    .inner-circle img {
        width: 100% !important;
        border-radius: 12px;
    }

    .firstbox {
        margin-top: 1em !important;
    }

    .latest-blog-section {
        padding: 70px 0;
    }

    .blog-title {
        font-size: 32px;
    }

    .blog-card-title {
        font-size: 24px;
    }

    .blog-content {
        padding: 28px;
    }

    .blog-image img {
        height: 260px;
    }


    .creative-video-section {
        min-height: 550px;
    }

    .creative-title {
        font-size: 38px;
    }

    .creative-subtitle {
        font-size: 14px;
    }

    .video-play-wrapper {
        width: 90px;
        height: 90px;
    }

    .video-play-btn {
        width: 90px;
        height: 90px;

        font-size: 24px;
    }

    .client-logo-section {
        padding: 30px 0;
    }

    .client-title {
        font-size: 32px;
    }

    .client-logo-item {
        height: 90px;
    }

    .client-logo-item img {
        max-width: 90px;
    }

    .testimonials-section {
        padding: 70px 0;
    }

    .testimonial-title {
        font-size: 34px;
    }

    .testimonial-card {
        padding: 30px 25px;

        border-radius: 24px;
    }

    .testimonial-text {
        font-size: 16px;
    }

    .testimonial-user h4 {
        font-size: 19px;
    }

    .prodcts_wrapper {
        padding: 70px 0;
    }

    .main-title {
        font-size: 34px;
    }

    .buttons_procuts {
        gap: 10px;
    }

    .right_footer_box {
        padding-left: 0px;
    }

    .buttons_procuts button {
        height: 48px;
        flex: auto;
        padding: 0 20px;

        font-size: 14px;
    }

    .gallery-card img {
        /* height: 320px; */
    }

    .gallery-content h3 {
        font-size: 26px;
    }

    .gallery-content span {
        font-size: 15px;
    }

    .why-choose-section {
        padding: 70px 0;
    }

    .main-title {
        font-size: 38px;
    }

    .feature-box {
        flex-direction: column;

        text-align: center;

        align-items: center;
    }

    .feature-icon {
        width: 75px;
        height: 75px;

        min-width: 75px;

        font-size: 28px;
    }

    .feature-content h3 {
        font-size: 24px;
    }

    .feature-content p {
        font-size: 16px;
    }

    .center-circle {
        width: 300px;

    }

    .inner-circle {
        /*                width:250px;*/
        height: 250px;
    }

    .consult-btn {
        width: 160px;
        height: 60px;

        font-size: 18px;

        padding-left: 25px;
    }

    .consult-btn span {
        width: 60px;
        height: 60px;

        font-size: 20px;
    }

    .service-section {
        padding: 60px 15px;
    }

    .section-header h2 {
        font-size: 36px;
    }

    .bg-text {
        font-size: 90px;
    }

    .service-card {
        height: 380px;
        border-radius: 25px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .arrow-btn {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    .counter-section {
        padding: 70px 0;
    }

    .counter-top span {
        font-size: 14px;
    }

    .counter-number {
        font-size: 52px;
    }

    .counter-number small {
        font-size: 24px;

        margin-top: 6px;
    }


    .x-about-title {
        font-size: 38px;

        line-height: 1.2;
    }

    .about-section {
        padding: 70px 0;
    }

    .about-image {
        height: 430px;

        border-radius: 24px;
    }

    .award-box {
        width: 170px;
        height: 150px;

        border-top-left-radius: 28px;
    }

    .award-box::before {
        width: 28px;
        height: 28px;

        top: -28px;

        border-bottom-right-radius: 28px;

        box-shadow: 8px 8px 0 #c5a46d;
    }

    .award-box::after {
        width: 28px;
        height: 28px;

        left: -28px;

        border-bottom-right-radius: 28px;

        box-shadow: 8px 8px 0 #c5a46d;
    }

    .award-icon {
        width: 56px;
        height: 56px;

        font-size: 22px;

        margin-bottom: 12px;
    }

    .award-box h3 {
        font-size: 16px;
    }

    .x-about-desc {
        font-size: 17px;

        margin-bottom: 35px;
    }

    .x-feature-box {
        height: 88px;

        border-radius: 24px;
    }

    .x-feature-icon {
        width: 55px;
        height: 55px;

        font-size: 20px;
    }

    .x-feature-box h5 {
        font-size: 18px;
    }

    .x-author-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .x-author-name {
        font-size: 26px;
    }

    .x-signature {
        width: 170px;
    }

    .hero-slider {
        height: 78vh;
    }

    .hero-content {
        padding-top: 60px;
    }

    .hero-title {
        font-size: 42px;
        line-height: 1.1;
        letter-spacing: -1px;
    }

    .hero-desc {
        font-size: 16px;
    }

    .hero-main-btn {
        padding: 16px 28px;
    }

    .hero-pagination-wrap {
        left: 20px;
        bottom: 25px;
    }

}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0 !important;
    }
}






@media(max-width:480px) {

    .creative-title {
        font-size: 30px;

        line-height: 1.3;
    }

    .section-header h2 {
        font-size: 28px;
    }

    .bg-text {
        font-size: 65px;
        top: 20px;
    }

    .service-card {
        height: 320px;
    }

    .card-content {
        left: 18px;
        right: 18px;
        bottom: 18px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .arrow-btn {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}




















/* ========================= */
/* LARGE LAPTOP */
/* ========================= */

@media(max-width:1400px) {}

/* ========================= */
/* LAPTOP */
/* ========================= */

@media(max-width:1199px) {

    .navbar-nav {
        gap: 20px;
    }

    .nav-link {
        font-size: 15px;
    }

    .logo-box {
        width: 170px;
        height: 100px;

        left: -40px;
    }

    .logo-box img {
        width: 82px;
    }
}

/* ========================= */
/* MOBILE SIDEBAR */
/* ========================= */

@media(max-width:991px) {
    .hp-about-section .col-lg-6 {
        margin-top: 0 !important;
    }

    .hp-about-image {

        margin-bottom: 40px;
    }

    .hp-team-card {

        margin-bottom: 25px;
    }

    .hp-award-wrapper {

        padding: 40px 30px;
    }

    .logo-box {

        left: -2px;
        top: 10px;
    }

    .main-header {
        padding: 14px 0;
    }

    .main-header .container {
        padding: 0 12px;
    }

    /* LOGO */

    .logo-wrapper {
        width: auto;
    }

    .logo-box {
        width: 165px;
        height: 95px;

        left: -12px;
        bottom: 0;

        border-bottom-right-radius: 28px;

        padding: 0 16px;
    }

    .logo-box img {
        width: 78px;
    }

    /* KEEP CORNERS */

    .top-right-corner {
        right: -20px;
    }

    .bottom-left-corner {
        bottom: -20px;
    }

    .sticky-corner {
        width: 20px;
        height: 20px;
    }

    /* TOGGLE */

    .navbar-toggler {
        display: flex;
        margin-left: auto;
    }

    /* SIDEBAR */

    .navbar-collapse {
        position: fixed;

        top: 0;
        left: -320px;

        width: 300px;
        height: 100vh;

        background: #111;

        padding: 120px 24px 40px;

        display: block !important;

        overflow-y: auto;

        transition: 0.45s ease;

        z-index: 999;
    }

    /* OPEN SIDEBAR */

    .navbar-collapse.show {
        left: 0;
    }

    /* MENU */

    .navbar-nav {
        width: 100%;
        gap: 0;
        align-items: flex-start !important;
    }

    .nav-item {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 16px 0 !important;
        font-size: 16px;
    }

    .nav-link::after {
        display: none;
    }

    /* DROPDOWN */

    .dropdown-menu {
        position: static !important;

        transform: none !important;

        background: #1b1b1b;

        border-radius: 12px;

        padding: 8px 0;

        margin-top: 0;

        display: none;

        opacity: 1;
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    /* BUTTON */

    .getButon {
        display: none;
    }
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media(max-width:576px) {
    .gallery-card {
        height: 100%;
    }

    .logo-box {
        width: 145px;
        height: 82px;

        left: -2px;
        top: 10px;
    }

    .logo-box img {
        width: 66px;
    }

    .navbar-toggler {
        width: 44px;
        height: 44px;
    }

    .navbar-collapse {
        width: 270px;
        left: -380px;

        padding: 105px 18px 30px;
    }

    .nav-link {
        font-size: 15px;
    }
}

/* ========================= */
/* EXTRA SMALL */
/* ========================= */

@media(max-width:400px) {

    .logo-box {
        width: 132px;
        height: 74px;
    }

    .logo-box img {
        width: 58px;
    }

    .top-right-corner,
    .bottom-left-corner {
        width: 16px;
        height: 16px;
    }

    .top-right-corner {
        right: -16px;
    }

    .bottom-left-corner {
        bottom: -16px;
    }
}


/* ========================= */
/* NAVBAR MENU WIDTH */
/* ========================= */

#mainMenu {
    width: 100%;
    max-width: 850px;
    /* change width here */
    margin-left: auto;
    margin-right: auto;
}

/* MENU ALIGN */

#mainMenu .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:1316px) {

    #mainMenu {
        max-width: 320px;
        width: 100%;
    }

    #mainMenu .navbar-nav {
        flex-direction: column;
        display: none !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: block !important;
        position: absolute;
        right: 0;
    }
}



@media(max-width:767px) {
    .mv-heading h2 {

        font-size: 32px;
    }

    .mv-content h3 {

        font-size: 28px;
    }

    .modern-team-section {

        padding: 70px 0;
    }

    .modern-team-heading h2 {

        font-size: 32px;
    }

    .hp-about-hero {

        height: 420px;
    }

    .hp-hero-title {

        font-size: 36px;
    }

    .hp-section-title,
    .hp-heading-box h2,
    .hp-award-title {

        font-size: 30px;
    }

}

@media(max-width:575px) {
    .packesPurchaseButoon {
        /* flex-wrap: wrap; */
        gap: 4px;
    }

    .consult-btn {
        width: 100%;
    }

    .second_packegBox {
        padding-left: 0;
    }

    .consult-btn {
        margin-top: 1em !important;
    }

    .icons_packesSecond {
        margin-top: 1em;
    }

    .mv-section {

        padding: 60px 0;
    }

    .mv-heading h2 {

        font-size: 28px;
    }

    .mv-card {

        padding: 30px 24px;
    }

    .mv-content h3 {

        font-size: 24px;
    }

    .hp-about-hero {

        height: 370px;
    }

    .hp-hero-title {

        font-size: 28px;
    }

    .hp-award-wrapper {

        padding: 30px 20px;
    }

    .hp-section-title {

        font-size: 26px;
    }

    .modern-team-heading h2 {

        font-size: 28px;
    }

    .modern-team-content {

        padding: 100px 22px 30px;
    }

}